body {
    font-family: "poppins";
}

.table-container {
    max-height: calc(50vh - 30px);
    outline: 1px solid #c5c7c9;
    border-radius: 4px;
    overflow: overlay;
    background-color: white;

    .general-table {
        width: 100%;
        min-height: 225px;
        text-align: start;
        vertical-align: middle;
        border-collapse: collapse;

        &.table-space {
            border-collapse: separate;
            border-spacing: 10px;
        }

        // header and footer style
        .table-header,
        .table-footer {
            background-color: #ebeced;

            tr {
                th {
                    padding: 16px;
                    color: black;
                    font-size: 14px !important;
                }
            }
        }

        // fixed header
        .table-header {
            &.thead-fixed {
                position: sticky;
                top: 0;
                z-index: 1;
            }

            border-bottom: 1px solid #c5c7c9;
        }

        // fixed footer
        .table-footer {
            &.tfoot-fixed {
                position: sticky;
                bottom: 0;
                z-index: 1;
            }

            border-top: 1px solid #c5c7c9;
        }

        // body style
        .table-body {
            tr {
                border-bottom: 1px solid #c5c7c9;

                &:last-child {
                    border-bottom: 0px solid transparent;
                }

                // hover and check row state
                &:hover {
                    background-color: #f1f1f2 !important;
                }

                td {
                    padding: 16px;
                    color: #656566;
                    font-size: 14px !important;
                }
            }

            // no-data state
            .no-data {
                text-align: center;
                font-weight: 600;
            }
        }

        // table striped state
        &.table-even {
            tr:nth-child(even) {
                background-color: #fafafb;
            }
        }

        // table border state
        &.border-table {
            tr {

                th,
                td {
                    border-inline-end: 1px solid #d8d8d8 !important;

                    &:last-child {
                        border-inline-end: 0px solid transparent !important;
                    }
                }
            }
        }
    }
}

.block-container {
    max-height: calc(100vh - 10px);
    overflow: overlay;
    padding-right: 4px;

    .block-table {
        width: 100%;
        text-align: center;
        vertical-align: middle;
        border-collapse: separate;
        border-spacing: 0 12px;

        // header  style
        .table-header {
            background-color: white;

            tr {
                th {
                    padding: 14px;
                    color: #656566;
                    font-size: 14px;
                    font-weight: 600;
                    text-align: start;
                }
            }

            &.thead-fixed {
                position: sticky;
                top: 0;
                z-index: 1;
            }
        }

        // body style
        .table-body {
            tr {

                // hover and check row state
                &:hover {
                    background-color: #FBFBFB;
                }

                td {
                    padding: 14px;
                    color: black;
                    font-size: 14px;
                    font-weight: 400;
                    text-align: start;

                    border-block: 2px solid #E0E0E0;

                    &:first-of-type {
                        border-left: 2px solid #E0E0E0;
                        border-top-left-radius: 12px;
                        border-bottom-left-radius: 12px;
                    }

                    &:last-of-type {
                        border-right: 2px solid #E0E0E0;
                        border-top-right-radius: 12px;
                        border-bottom-right-radius: 12px;
                    }
                }
            }

        }
    }
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    cursor: pointer;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background: rgba(black, 0.20);
    border-radius: 5px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: rgba(black, 0.35);
    border-radius: 5px;
    cursor: pointer;
}